In [10]:
import xretrieval

xretrieval.list_datasets()

['coco-val-2017']

In [6]:
dataset = xretrieval.load_dataset("coco-val-2017")

In [7]:
dataset

,image_id,file_name,image_path,caption,name
0,139,000000000139.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A woman stands in the dining area at the table...,"book,chair,clock,dining table,microwave,person..."
1,285,000000000285.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A big burly grizzly bear is show with grass in...,bear
2,632,000000000632.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,"Bedroom scene with a bookcase, blue comforter ...","bed,book,chair,potted plant"
3,724,000000000724.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A stop sign is mounted upside-down on it's pos...,"car,stop sign,truck"
4,776,000000000776.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,"Three teddy bears, each a different color, snu...","bed,teddy bear"
...,...,...,...,...,...
4995,581317,000000581317.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A woman holding a small item in a field. Woman...,"cell phone,person"
4996,581357,000000581357.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,Skate boarder hang time with young man appeari...,"bench,person,skateboard"
4997,581482,000000581482.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A fancy metal cloth is seen against huge barre...,clock
4998,581615,000000581615.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,A picture of a white toilet in the rest room. ...,toilet
4999,581781,000000581781.jpg,/home/dnth/Desktop/automatic-retrieval-benchma...,"A store display filled with ripe, unripe banan...",banana